extends layout

block content
  h1= title
  p Welcome to #{title}
  a(href="/users") https://full-stack-blog-api.herokuapp.com/users
  br
  a(href="/posts") https://full-stack-blog-api.herokuapp.com/users